<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name="WcfEx.Host.Test.Server3">
            <endpoint 
               contract="WcfEx.Host.Test.IServer3"
               binding="netNamedPipeBinding" 
               address="net.pipe://localhost/WcfExHost/Test/Server3/"/>
         </service>
      </services>
   </system.serviceModel>
   <system.diagnostics>
      <sources>
         <source name="WcfEx.Host">
            <listeners>
               <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
               <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="WcfEx.Host"/>
            </listeners>
         </source>
      </sources>
   </system.diagnostics>
</configuration>
