<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
      <extensions>
         <bindingExtensions>
            <add name="netUdpBinding" type="WcfEx.Udp.Binding+Config,WcfEx"/>
         </bindingExtensions>
      </extensions>
      <services>
         <service name="WcfEx.Host.Test.Server2">
            <host>
               <baseAddresses>
                  <add baseAddress="udp://*:42000"/>
               </baseAddresses>
            </host>
            <endpoint 
               contract="WcfEx.Host.Test.IServer2"
               binding="netUdpBinding"
               address="/Server2/"/>
         </service>
      </services>
   </system.serviceModel>
</configuration>
