<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.diagnostics>
      <sources>
         <source name="WcfEx.Host">
            <listeners>
               <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
               <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="WcfEx.Host"/>
            </listeners>
         </source>
      </sources>
   </system.diagnostics>
</configuration>
