<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name="WcfEx.Host.Test.Server1">
            <endpoint
               contract="WcfEx.Host.Test.IServer1"
               binding="netTcpBinding"
               address="net.tcp://localhost:42000/Server1"/>
         </service>
      </services>
   </system.serviceModel>
</configuration>
